body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card img.back {
  transform: rotateY(180deg);
}

#rst-btn {
  margin-top: 20px;
}

#message {
  margin-top: 20px;
  font-size: 20px;
  color: red;
}
